<h2>Become a Member</h2>

<form action="/membership" method="POST">
  <label for="secretCode">Enter Membership Code:</label>
  <input type="text" name="secretCode" id="secretCode" required>
  <button type="submit">Submit</button>
</form>
